table {
    border: 1px solid black;
    border-radius: 3px;
}

table>thead {
    background-color: burlywood;
}

table>tbody>tr>td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}